body {
    background: rgb(236, 196, 132);
    font-family: Impact;

}


.header_div {
    background-color: rgb(214, 141, 141);
    color: #0599f5;
}


.header_div p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;

}

.main_div button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    font-weight: bolder;
    color: green;
    margin: 10px auto;
    font-size: 20px;
}

.copy_right_footer{
    width: 100%;
    background-color:#E6E6FA; 
    text-align:center;
    position: fixed;
    bottom:15;
    font-size:20px;
    color:rgb(29, 7, 153);
    text-shadow: 2px 2px 30px red;

}